.container-list {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 10px;
  flex-wrap: wrap;
  margin: 10px auto 30px;
}

.card-pokemon {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  width: 180px;
  height: 264px;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  /* transition: all 100ms ease-out; */
}

.card-pokemon:hover {
  /* transform: scale(1.03); */
  cursor: pointer;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 170px;
}

img {
  width: 90%;
  height: 90%;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: 2;
  background: #c0c0c0;
  padding: 15px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.name-pokemon {
  color: #fff;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
}

.pokemon-type {
  display: flex;
}

.type-badge {
  width: 70px;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  background: #ff4768;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  font-size: 13px;
}

.load-spinner {
  background-color: transparent;
  height: 60px;
  width: 60px;
  animation: spin 2s ease-in-out infinite;
  margin-top: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
