.card-pokemon-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  width: 40vw;
  height: 555px;
  background: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .card-pokemon-details {
    width: 80vw;
  }
}

.card-pokemon-details .container-image {
  display: flex;
  flex: 2;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.card-pokemon-details img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.card-pokemon-details .card-info {
  display: flex;
  flex-direction: column;
  flex: 3;
  background: #a3a3a3;
  padding: 15px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.card-pokemon-details .name-pokemon {
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 25px;
}

.card-pokemon-details .pokemon-type {
  margin-bottom: 10px;
}

.card-pokemon-details .ability {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.card-pokemon-details .ability p {
  font-size: 10px;
}

.card-pokemon-details .evolutions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  flex-wrap: wrap;
  margin: 20px auto 30px;
  width: 100%;
}

.card-pokemon-details .evolution-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  width: 100px;
  height: 100px;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  transition: all 100ms ease-out;
}

.card-pokemon-details .evolution-card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card-pokemon-details .evolution-card .teste {
  width: 90px;
  height: 70px;
}

.card-pokemon-details .evolution-card img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.pokemon-attacks {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pokemon-name {
}
